<div class="offer">
    <div class="offer__container container">
        <div class="offer__content flex justify-between align-center">
            <div class="big-items__item">
                <img src="img/offer0item.png" alt="">
            </div>
            <div class="big-items__item">
                <img src="img/offer0item.png" alt="">
            </div>
            <div class="big-items__item">
                <img src="img/offer0item.png" alt="">
            </div>
            <div class="big-items__item">
                <img src="img/offer0item.png" alt="">
            </div>
            <div class="big-items__item">
                <img src="img/offer0item.png" alt="">
            </div>
        </div>
        <div class="offer__subscribe">
            <button class="button variant-2 gap-24">
                <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                    <use xlink:href="img/sprite.svg#icon-fire"></use>
                </svg> 
                Подписка за 299 рублей!
            </button>
        </div>
    </div>
</div>