<section class="actor-detail">
    <div class="actor-detail__container container">
        <div class="actor-detail__top">
            <div class="actor-detail__img">
                <img src="img/actor2.png" alt="">
            </div>
            <div class="actor-detail__bio">
                <div class="actor-detail__bio-title">
                    <h1 class="text size-32 weight-500 font-manrope color-gray-100">Том Харди</h1>
                    <span class="text size-18 weight-500 font-manrope color-gray-400">Tom Hardy</span>
                </div>
                <p class="text size-16 weight-400 font-manrope color-gray-100">Том Харди (Эдвард Томас Харди) родился 15 сентября 1977 года в Лондоне. Его отец был сценаристом, а мать — художницей. В юности Харди интересовался театром, но имел проблемы с дисциплиной.
                    В 1998 году он поступил в Drama Centre London. Дебютировал в сериале «Братья по оружию» (2001) и фильме «Чёрный ястреб». Прорывом стала роль в «Бронсоне» (2008). В 2010 году сыграл Эмса в «Начале» Кристофера Нолана, а в 2012 — Бэйна в «Тёмном рыцаре».
                    Среди его заметных работ: «Безумный Макс» (2015), «Выживший» (2015), «Веном» (2018, 2021). В 2017 году он создал сериал «Табу». Личная жизнь: в 2014 году женился на актрисе Шарлотте Райли, у них двое детей.
                    Вне актёрской карьеры Харди активно занимается благотворительностью, поддерживая организации, борющиеся с домашним насилием и помогая бездомным. Он также является послом фонда «Против домашнего насилия» в Великобритании.</p>
            </div>
        </div>
        <div class="actor-detail__movies">
            <h4 class="text size-24 weight-500 font-manrope color-white">Фильмография (2842)</h4>
            <div class="grid">
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
                <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</section>