<section class="about">
    <div class="about_cont">
        <div class="about_animation">
            <div class="animation-line animation-line-1">
                <svg width="1882" height="636" viewBox="0 0 1882 636" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M390.841 163.053C599.187 -27.1126 910.267 -37.2296 1198.61 251.106C1422.73 475.206 1733.39 592.484 1881.49 610.805" stroke="#C8CAFF" stroke-width="0.145925"/>
                    <path d="M390.841 187.493C599.187 -2.67221 910.267 -12.7892 1198.61 275.547C1422.73 499.646 1733.39 616.924 1881.49 635.245" stroke="#C8CAFF" stroke-width="0.145925"/>
                    <path d="M1 176.876C209.346 -13.2899 520.426 -23.4069 808.772 264.929C1032.88 489.028 1343.55 606.307 1491.65 624.627" stroke="#C8CAFF" stroke-width="0.145925"/>
                    <path d="M1412.57 458.393L1407.48 462.709C1390.58 477.038 1365.26 474.951 1350.93 458.048L1346.61 452.956L1351.71 448.64C1368.61 434.311 1393.93 436.398 1408.26 453.301L1412.57 458.393Z" fill="#8BF2DA" fill-opacity="0.24"/>
                    <path d="M1526.54 0L1527.5 6.60495C1530.71 28.5305 1515.54 48.9066 1493.62 52.1163L1487.01 53.0832L1486.04 46.4782C1482.83 24.5527 1498.01 4.1766 1519.93 0.966907L1526.54 0Z" fill="#595959" fill-opacity="0.18"/>
                    <g filter="url(#filter0_b_4_334)">
                    <path d="M1072.57 359.256L1066.22 361.306C1045.13 368.108 1022.52 356.526 1015.72 335.437L1013.67 329.084L1020.02 327.034C1041.11 320.232 1063.72 331.814 1070.52 352.903L1072.57 359.256Z" fill="#E6CBCB" fill-opacity="0.35"/>
                    </g>
                    <defs>
                    <filter id="filter0_b_4_334" x="960.666" y="272.086" width="164.904" height="144.167" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feGaussianBlur in="BackgroundImageFix" stdDeviation="26.5"/>
                    <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_4_334"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_4_334" result="shape"/>
                    </filter>
                    </defs>
                </svg>                    
            </div>
            <div class="animation_video">
                <video autoplay muted loop playsinline preload="auto" onloadedmetadata="this.muted = true" loop="true" type="video/mp4" src="img/0001-0250(1).mp4"></video>
            </div>
        </div>
    </div>
</section>
<section class="about" id="about">
    <div class="about_cont">
        <div class="about_text">
            <h2 class="wow animate__ animate__fadeInDown animated">Monetize your imagination</h2>
            <p class="wow animate__ animate__fadeInUp animated">Compendium allows you to publish your literary work directly to your audience and avoid gatekeepers that block creativity. Our mission is to change how creative intellectual property is owned and monetized. Creators will be able to earn directly and consistently.</p>
        </div>
    </div>
</section>