<section class="main">
    <div class="main__bg"></div>
    <div class="main__container _container">
        <div class="main__left">
            <h1>Over 350+ channels And 50,000 movies and TV shows In TV Archive and Video Club!</h1>
            <div class="main__buttons">
                <button>Run On Tv</button>
                <button>Subscribe</button>
            </div>
            <div class="main__animation">
                <div class="main__animation-item"></div>
                <div class="main__animation-item"></div>
                <div class="main__animation-item"></div>
            </div>
        </div>
        <div class="main__right">
            <div class="main__search">
                <div class="main__search-bg" id="main-anim">
                    <img src="img/Group 4 (9).png" alt="">
                </div>
                <div class="main__search-item" id="main__search-item">
                    <img src="img/e192d530777373.56323336b1cf2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>