<section class="roadmap" id="roadmap">
    <div class="roadmap_cont">
        <h2>HOW WE MAKE IT REAL</h2>
        <div class="roadmap_box">
            <div class="roadmap_item roadmap_item1">
                <div class="roadmap_progres">
                    <div class="icon"></div>
                    <div class="line">
                        <span></span>
                    </div>
                </div>
                <div class="roadmap_item_text">
                    <h3>MVP</h3>
                    <p style="animation-duration: 0.5s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow active"><span></span>Release the beta version of the platform</p>
                    <p style="animation-duration: 0.8s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow active"><span></span>Add functionality such as “lazy” mint for authors</p>
                    <p style="animation-duration: 1.1s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow active"><span></span>Start implementing revenue-share smart contracts</p>
                    <p style="animation-duration: 1.4s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Creating list of first authors</p>
                    <p style="animation-duration: 1.7s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Discord space for literature community</p>
                    <p style="animation-duration: 2s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Promoters community</p>
                </div>
            </div>
            <div class="roadmap_item">
                <div class="roadmap_progres">
                    <div class="icon"></div>
                    <div class="line">
                        <span></span>
                    </div>
                </div>
                <div class="roadmap_item_text">
                    <h3>Beta Release</h3>
                    <p style="animation-duration: 0.5s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Specific literature-token features</p>
                    <p style="animation-duration: 0.8s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Launch of Multi-asset sales (for limited collections)</p>
                    <p style="animation-duration: 1.1s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Personal immortal library in user profile</p>
                    <p style="animation-duration: 1.4s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>More personalization in mint process & text preview</p>
                    <p style="animation-duration: 1.7s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Compendium founder card token drop</p>
                    <p style="animation-duration: 2s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Launch new revenue share type</p>
                    <p style="animation-duration: 2.3s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Launch new revenue share type</p>
                    <p style="animation-duration: 2.6s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Launch Compendium Media Website</p>
                    <p style="animation-duration: 2.9s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Launch own podcast with authors</p>
                </div>
            </div>
            <div class="roadmap_item">
                <div class="roadmap_progres">
                    <div class="icon"></div>
                    <div class="line">
                        <span></span>
                    </div>
                </div>
                <div class="roadmap_item_text">
                    <h3>Release</h3>
                    <p style="animation-duration: 0.5s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Ability to buy via fiat money</p>
                    <p style="animation-duration: 0.8s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Ability to send/gift tokens</p>
                    <p style="animation-duration: 1.1s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>Revenue share visualization in user profile</p>
                    <p style="animation-duration: 1.4s;" class="roadmap_text_js animate__ animate__fadeInRight animated wow"><span></span>New type of revenue-share contract added</p>
                </div>
            </div>
        </div>
    </div>
</section>