<div class="modal tv-subscribe-modal" id="subscribe-modal">
    <div class="modal__container">
        <div class="subscribe-modal__title">
            <div class="subscribe-modal__title-text flex direction-column gap-36">
                <h2 class="text color-white weight-500 famaly-manrope size-32">Оформить подписку
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                </h2>
                <p class="text color-white weight-500 famaly-manrope size-32">
                    Гарантируем качество! При подключения подписки мы дарим вам <span class="color-beige-500">3 дня бесплатно</span> (без списания средств): если сервис не понравится, просто отключите подписку в этот период
                </p>
            </div>
            <button class="button variant-3 only-icon close-btn">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="img/sprite.svg#icon-close"></use>
                </svg> 
            </button>
        </div>
        <div class="subscribe-modal__items flex justify-between align-center">
            <div class="subscribe-item" onclick="openModal('payment-modal')">
    <div class="subscribe-item__content">
        <div class="subscribe-item__content-top">
            <span class="tag text color-white weight-500 famaly-manrope size-20 bg-violet-700">Оплата 1 раз в месяц</span>
            <span class="limit text color-white weight-500 famaly-manrope size-32">3 месяца</span>
        </div>
        <div class="subscribe-item__content-price">
            <span class="price text color-beige-500 weight-700 size-64">249</span>
            <span class="text color-gray-500 weight-500 famaly-manrope size-24">руб/месяц</span>
        </div>
        <div class="subscribe-item__advantages">
            <ul>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Отсутствие рекламы
                </li>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Доступ к эксклюзивам
                </li>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Поддержка всех устройств
                </li>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Безлимитный просмотр
                </li>
            </ul>
        </div>
    </div>
</div>
            <div class="subscribe-item active" onclick="openModal('payment-modal')">
    <div class="subscribe-item__content">
        <div class="subscribe-item__content-top">
            <span class="tag text color-white weight-500 famaly-manrope size-20 bg-violet-900">Оплата 1 раз в месяц</span>
            <span class="limit text color-white weight-500 famaly-manrope size-32">6 месяцев</span>
        </div>
        <div class="subscribe-item__content-price">
            <span class="price text color-beige-500 weight-700 size-64">216</span>
            <span class="text color-gray-500 weight-500 famaly-manrope size-24">руб/месяц</span>
        </div>
        <div class="subscribe-item__advantages">
            <ul>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Отсутствие рекламы
                </li>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Доступ к эксклюзивам
                </li>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Поддержка всех устройств
                </li>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Безлимитный просмотр
                </li>
            </ul>
        </div>
    </div>
</div>
            <div class="subscribe-item" onclick="openModal('payment-modal')">
    <div class="subscribe-item__content">
        <div class="subscribe-item__content-top">
            <span class="tag text color-white weight-500 famaly-manrope size-20 bg-gray-500">Оплата 1 раз в месяц</span>
            <span class="limit text color-white weight-500 famaly-manrope size-32">1 месяц</span>
        </div>
        <div class="subscribe-item__content-price">
            <span class="price text color-beige-500 weight-700 size-64">349</span>
            <span class="text color-gray-500 weight-500 famaly-manrope size-24">руб/месяц</span>
        </div>
        <div class="subscribe-item__advantages">
            <ul>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Отсутствие рекламы
                </li>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Доступ к эксклюзивам
                </li>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Поддержка всех устройств
                </li>
                <li class="flex align-center gap-20 text size-20 weight-500 famaly-manrope color-white">
                    <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                        <use xlink:href="img/sprite.svg#icon-fire"></use>
                    </svg> 
                    Безлимитный просмотр
                </li>
            </ul>
        </div>
    </div>
</div>
        </div>
        <div class="subscribe-modal__bottom">
            <p class="text color-white weight-500 famaly-manrope size-16">
                Гарантируем качество! При подключения подписки мы дарим вам <span class="color-beige-500">3 дня бесплатно</span> (без списания средств): если сервис не понравится, просто отключите подписку в этот период
            </p>
        </div>
    </div>
</div>