<section class="experience">
    <div class="experience__container _container">
        <div class="experience__img animate__zoomInDown wow">
            <img src="img/700х450_1 2.png" alt="">
        </div>
        <div class="experience__text">
            <h2 class="animate__zoomInDown wow">Vill du ha den beste IPTV — opplevelsen?</h2>
            <p class="animate__zoomInDown wow">Bestill en 12-mnd inkludert TVIP boks spar €15!<span>Full pris €285 — Din pris €270</span></p>
            <a href="" class="animate__zoomInDown wow">BETAL MED BTC</a>
            <span class="cursive animate__zoomInDown wow"> Ved bestilling åpnes betalingslenke i eget vindu</span>
        </div>
    </div>
</section>