<section class="tv-uniq">
    <div class="tv-uniq__container _container">
        <div class="tv-uniq__title">
            <span class="animate__lightSpeedInLeft wow">Den orginale iptv norge</span>
            <h1 class="animate__lightSpeedInLeft wow">Apple TV</h1>
        </div>
        <div class="tv-uniq__img animate__zoomInDown wow"><img src="img/Rectangle.png" alt=""></div>
        <div class="tv-uniq__flex">
            <div class="tv-uniq__left">
                <p class="animate__lightSpeedInLeft wow">Apple TV er en populær boks du finner i mange hjem og stuer rundt i Norge, det og velge den Smart IPTV spilleren som er best for deg, det er en smakssak. Her finner du seks spillere du kan teste og vurdere for bruk på Apple TV boksen.</p>
                <p class="animate__lightSpeedInLeft wow">Mange av de spillerne kan også brukes på din iPad og iPhone, hvis du vil se på IPTV med flere enheter er dette noe du vurdere.</p>
                <p class="animate__lightSpeedInLeft wow">Hva du til slutt velger og bruke er basert på personlige preferanser. De fleste spillere har forskjellige grensesnitt og brukervennlighet. Det vi anbefaler er at du velger en spiller som er nylig oppdatert.</p>
                <p class="animate__lightSpeedInLeft wow">De fleste appene her er også tilgjengelig for Android og Windows.</p>
            </div>
            <div class="tv-uniq__faq">
                <div class="tv-uniq__faq-item animate__lightSpeedInRight wow">
                    <button>IPTV Smarters - IPTV Player
                        <span>
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.05003 5.4C0.700287 5.4 0.4 5.65978 0.4 6C0.4 6.34008 0.700259 6.6 1.05003 6.6H10.95C11.2997 6.6 11.6 6.34009 11.6 6C11.6 5.65991 11.2997 5.4 10.95 5.4H1.05003Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                                <path
                                    d="M5.4 10.95C5.4 11.2997 5.65978 11.6 6 11.6C6.34008 11.6 6.6 11.2997 6.6 10.95L6.6 1.05003C6.6 0.700269 6.34009 0.4 6 0.4C5.65991 0.4 5.4 0.700257 5.4 1.05003L5.4 10.95Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                            </svg>
                        </span>
                    </button>
                    <div class="tv-uniq__faq-hide">
                        <p>IPTV smartere spiller er helt klart en av få applikasjonene du kan bruke på alle enheter, dvs. smarttelefoner, datamaskiner eller TV. Du bygger din egen IPTV-liste i denne spilleren og kan se favorittkanalen din overalt. Spilleren gir deg ikke noe innhold eller spilleliste, så du må lage din egen unike liste. Og det er flott !!</p>
                        <p>Noen av de flotte funksjonene denne kraftige spilleren innebygd er, støtter den, M3U-spillelister samt Multi EPG. Som andre tekniske enheter, leser denne spilleren også mønstrene du følger mens du ser på iOS TV og bokmerker favorittkanalene dine.</p>
                    </div>
                </div>
                <div class="tv-uniq__faq-item animate__lightSpeedInRight wow">
                    <button>GSE Smart IPTV
                        <span>
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.05003 5.4C0.700287 5.4 0.4 5.65978 0.4 6C0.4 6.34008 0.700259 6.6 1.05003 6.6H10.95C11.2997 6.6 11.6 6.34009 11.6 6C11.6 5.65991 11.2997 5.4 10.95 5.4H1.05003Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                                <path
                                    d="M5.4 10.95C5.4 11.2997 5.65978 11.6 6 11.6C6.34008 11.6 6.6 11.2997 6.6 10.95L6.6 1.05003C6.6 0.700269 6.34009 0.4 6 0.4C5.65991 0.4 5.4 0.700257 5.4 1.05003L5.4 10.95Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                            </svg>
                        </span>
                    </button>
                    <div class="tv-uniq__faq-hide">
                        <p>IPTV smartere spiller er helt klart en av få applikasjonene du kan bruke på alle enheter, dvs. smarttelefoner, datamaskiner eller TV. Du bygger din egen IPTV-liste i denne spilleren og kan se favorittkanalen din overalt. Spilleren gir deg ikke noe innhold eller spilleliste, så du må lage din egen unike liste. Og det er flott !!</p>
                        <p>Noen av de flotte funksjonene denne kraftige spilleren innebygd er, støtter den, M3U-spillelister samt Multi EPG. Som andre tekniske enheter, leser denne spilleren også mønstrene du følger mens du ser på iOS TV og bokmerker favorittkanalene dine.</p>
                    </div>
                </div>
                <div class="tv-uniq__faq-item animate__lightSpeedInRight wow">
                    <button>IP Television – IPTV M3U
                        <span>
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.05003 5.4C0.700287 5.4 0.4 5.65978 0.4 6C0.4 6.34008 0.700259 6.6 1.05003 6.6H10.95C11.2997 6.6 11.6 6.34009 11.6 6C11.6 5.65991 11.2997 5.4 10.95 5.4H1.05003Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                                <path
                                    d="M5.4 10.95C5.4 11.2997 5.65978 11.6 6 11.6C6.34008 11.6 6.6 11.2997 6.6 10.95L6.6 1.05003C6.6 0.700269 6.34009 0.4 6 0.4C5.65991 0.4 5.4 0.700257 5.4 1.05003L5.4 10.95Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                            </svg>
                        </span>
                    </button>
                    <div class="tv-uniq__faq-hide">
                        <p>IPTV smartere spiller er helt klart en av få applikasjonene du kan bruke på alle enheter, dvs. smarttelefoner, datamaskiner eller TV. Du bygger din egen IPTV-liste i denne spilleren og kan se favorittkanalen din overalt. Spilleren gir deg ikke noe innhold eller spilleliste, så du må lage din egen unike liste. Og det er flott !!</p>
                        <p>Noen av de flotte funksjonene denne kraftige spilleren innebygd er, støtter den, M3U-spillelister samt Multi EPG. Som andre tekniske enheter, leser denne spilleren også mønstrene du følger mens du ser på iOS TV og bokmerker favorittkanalene dine.</p>
                    </div>
                </div>
                <div class="tv-uniq__faq-item animate__lightSpeedInRight wow">
                    <button>IPTV Player
                        <span>
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.05003 5.4C0.700287 5.4 0.4 5.65978 0.4 6C0.4 6.34008 0.700259 6.6 1.05003 6.6H10.95C11.2997 6.6 11.6 6.34009 11.6 6C11.6 5.65991 11.2997 5.4 10.95 5.4H1.05003Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                                <path
                                    d="M5.4 10.95C5.4 11.2997 5.65978 11.6 6 11.6C6.34008 11.6 6.6 11.2997 6.6 10.95L6.6 1.05003C6.6 0.700269 6.34009 0.4 6 0.4C5.65991 0.4 5.4 0.700257 5.4 1.05003L5.4 10.95Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                            </svg>
                        </span>
                    </button>
                    <div class="tv-uniq__faq-hide">
                        <p>IPTV smartere spiller er helt klart en av få applikasjonene du kan bruke på alle enheter, dvs. smarttelefoner, datamaskiner eller TV. Du bygger din egen IPTV-liste i denne spilleren og kan se favorittkanalen din overalt. Spilleren gir deg ikke noe innhold eller spilleliste, så du må lage din egen unike liste. Og det er flott !!</p>
                        <p>Noen av de flotte funksjonene denne kraftige spilleren innebygd er, støtter den, M3U-spillelister samt Multi EPG. Som andre tekniske enheter, leser denne spilleren også mønstrene du følger mens du ser på iOS TV og bokmerker favorittkanalene dine.</p>
                    </div>
                </div>
                <div class="tv-uniq__faq-item animate__lightSpeedInRight wow">
                    <button>Cloud Stream IPTV Player
                        <span>
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.05003 5.4C0.700287 5.4 0.4 5.65978 0.4 6C0.4 6.34008 0.700259 6.6 1.05003 6.6H10.95C11.2997 6.6 11.6 6.34009 11.6 6C11.6 5.65991 11.2997 5.4 10.95 5.4H1.05003Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                                <path
                                    d="M5.4 10.95C5.4 11.2997 5.65978 11.6 6 11.6C6.34008 11.6 6.6 11.2997 6.6 10.95L6.6 1.05003C6.6 0.700269 6.34009 0.4 6 0.4C5.65991 0.4 5.4 0.700257 5.4 1.05003L5.4 10.95Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                            </svg>
                        </span>
                    </button>
                    <div class="tv-uniq__faq-hide">
                        <p>IPTV smartere spiller er helt klart en av få applikasjonene du kan bruke på alle enheter, dvs. smarttelefoner, datamaskiner eller TV. Du bygger din egen IPTV-liste i denne spilleren og kan se favorittkanalen din overalt. Spilleren gir deg ikke noe innhold eller spilleliste, så du må lage din egen unike liste. Og det er flott !!</p>
                        <p>Noen av de flotte funksjonene denne kraftige spilleren innebygd er, støtter den, M3U-spillelister samt Multi EPG. Som andre tekniske enheter, leser denne spilleren også mønstrene du følger mens du ser på iOS TV og bokmerker favorittkanalene dine.</p>
                    </div>
                </div>
                <div class="tv-uniq__faq-item animate__lightSpeedInRight wow">
                    <button>iPlayTV
                        <span>
                            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M1.05003 5.4C0.700287 5.4 0.4 5.65978 0.4 6C0.4 6.34008 0.700259 6.6 1.05003 6.6H10.95C11.2997 6.6 11.6 6.34009 11.6 6C11.6 5.65991 11.2997 5.4 10.95 5.4H1.05003Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                                <path
                                    d="M5.4 10.95C5.4 11.2997 5.65978 11.6 6 11.6C6.34008 11.6 6.6 11.2997 6.6 10.95L6.6 1.05003C6.6 0.700269 6.34009 0.4 6 0.4C5.65991 0.4 5.4 0.700257 5.4 1.05003L5.4 10.95Z"
                                    fill="#737D7D" stroke="#737D7D" stroke-width="0.2" />
                            </svg>
                        </span>
                    </button>
                    <div class="tv-uniq__faq-hide">
                        <p>IPTV smartere spiller er helt klart en av få applikasjonene du kan bruke på alle enheter, dvs. smarttelefoner, datamaskiner eller TV. Du bygger din egen IPTV-liste i denne spilleren og kan se favorittkanalen din overalt. Spilleren gir deg ikke noe innhold eller spilleliste, så du må lage din egen unike liste. Og det er flott !!</p>
                        <p>Noen av de flotte funksjonene denne kraftige spilleren innebygd er, støtter den, M3U-spillelister samt Multi EPG. Som andre tekniske enheter, leser denne spilleren også mønstrene du følger mens du ser på iOS TV og bokmerker favorittkanalene dine.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>