<section class="simpler">
    <div class="simpler__container _container">
        <h2 class="animate__zoomInUp wow">Enklere blir det ikke</h2>
        <p class="animate__zoomInUp wow">Har du vurdert IPTV men er usikker på om det er noe for deg? Alt du må gjøre er og koble boksen til din TV med en standard HDMI kabel, og logge på internett via trådløs tilkobling eller internettkabel rett i boksen. Vi anbefaler alltid og koble boksen direkte til internett for absolutt høyest stabilitet.</p>
        <a href="" class="animate__zoomInUp wow">koble</a>
        <span class="animate__zoomInUp wow">Prat med oss via chat om du er noe du lurer på.</span>
    </div>
</section>