<section class="main" id="main">
  <img src="img/image 1.png" alt="" class="main__bg">
  <div class="main__container">
    <div class="main__text">
      <div class="text" id="text">
        <h1>David Hovsepyan</h1>
        <span>FULLSTACK DEVELOPVER</span>
        <div class="main__contacts">
          <a href="tel:+37441588059">+374 (41) 588 - 059</a>
          <a href="mailto:hovsepyandavid0@gmail.com">hovsepyandavid0@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  body {
    overflow: hidden;
  }
</style>
