<section class="movies-swiper actors-swiper">
    <div class="movies-swiper__container container">
      <div class="section-title">
        <h2>
          <a href="" class="text size-24 weitgh-500 font-manrope color-white">
            Актеры и режиссеры
          </a>
        </h2>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div></div>
          <div class="swiper-slide"><div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div></div>
          <div class="swiper-slide"><div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div></div>
          <div class="swiper-slide"><div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div></div>
          <div class="swiper-slide"><div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div></div>
          <div class="swiper-slide"><div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div></div>
          <div class="swiper-slide"><div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div></div>
        </div>
      </div>
    </div>
  </section>
  