<section class="movies-swiper big-items">
    <div class="movies-swiper__container container">
      <div class="section-title">
        <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
          <use xlink:href="img/sprite.svg#icon-fire"></use>
        </svg>
        <h2>
          <a href="" class="text size-24 weitgh-500 font-manrope color-white">
            @@title
            <svg class="icon" width="25" height="24" viewBox="0 0 25 24">
              <use xlink:href="img/sprite.svg#icon-arrow-right"></use>
            </svg>
          </a>
        </h2>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
        </div>
      </div>
    </div>
  </section>
  