<section class="movies-swiper">
    <div class="movies-swiper__container container">
      <div class="section-title">
        <h2>
          <a href="" class="text size-24 weitgh-500 font-manrope color-white">
            Сезоны
          </a>
        </h2>
      </div>
      <div class="swiper seazons-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">1</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">2</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">3</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">4</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">5</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">6</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">7</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">8</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">9</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">10</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">11</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">12</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">13</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">14</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">15</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">16</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">17</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">18</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">19</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">20</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">21</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">22</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">23</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">24</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">25</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">26</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">27</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">28</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">29</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">30</button></div>
        </div>
      </div>
    </div>
  </section>
  