<section class="movies-swiper">
    <div class="movies-swiper__container container">
      <div class="section-title">
        <h2>
          <a href="" class="text size-24 weitgh-500 font-manrope color-white">
            Сезоны
          </a>
        </h2>
      </div>
      <div class="swiper seazons-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">1</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">2</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">3</button></div>
            <div class="swiper-slide"><button class="button variant-3 seazon-btn">4</button></div>
        </div>
      </div>
    </div>
  </section>
  