<section class="movies-swiper mini-items">
    <div class="movies-swiper__container container">
      <div class="section-title">
        <h2>
          <a href="" class="text size-24 weitgh-500 font-manrope color-white">
            Серии
          </a>
        </h2>
      </div>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
    </a>
    <div class="move-item__content">
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">1 серия</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
    </a>
    <div class="move-item__content">
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">2 серия</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
    </a>
    <div class="move-item__content">
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">3 серия</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
    </a>
    <div class="move-item__content">
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">4 серия</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
          <div class="swiper-slide"><div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
    </a>
    <div class="move-item__content">
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">5 серия</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div></div>
        </div>
      </div>
    </div>
  </section>
  