<section class="subscription" id="subscription">
    <div class="tools"></div>
    <div class="subscription__container _container">
        <h2>Choose a subscription</h2>
        <div class="boxses">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
        <div class="anim-icon-container">
            <img src="img/animated.svg" alt=""  id="subscription-anim" class="anim-img">
        </div>
        <div class="subscription__grid">
            <div class="subscription__item">
    <p class="date">1 Month !</p>
    <div class="hidden">
        <p>Get 1 Month Subscribtion</p>
        <span>5$</span>
        <a href="">Sunscribe</a>
    </div>
    <img src="img/Mask group (1).png" alt="" class="bgimg">
</div>
            <div class="subscription__item">
    <p class="date">3 Months !</p>
    <div class="hidden">
        <p>Get 3 Month Subscribtion</p>
        <span>13$</span>
        <a href="">Sunscribe</a>
    </div>
    <img src="img/Mask group (3).png" alt="" class="bgimg">
</div>
            <div class="subscription__item">
    <p class="date">6 Months !</p>
    <div class="hidden">
        <p>Get 1 Year Subscribtion</p>
        <span>45$</span>
        <a href="">Sunscribe</a>
    </div>
    <img src="img/Mask group (5).png" alt="" class="bgimg">
</div>
        </div>
    </div>
</section>