<div class="header-mobile">
    <div class="header-mobile__links">
        <a href="profile.html" class="header-mobile__link mobile-user-btn">
            <span class="icon">
                <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="img/sprite.svg#icon-user"></use>
                </svg> 
            </span>
            Gervantriviysky
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-search"></use>
            </svg>                
            Поиск
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-wishlist-fill"></use>
            </svg>             
            Избранное
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-catalog"></use>
            </svg>              
            Каталог
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-recs"></use>
            </svg>             
            Рекомендации
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-movies"></use>
            </svg>             
            Фильмы
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-series"></use>
            </svg>            
            Сериалы
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="25" height="24" viewBox="0 0 25 24">
                <use xlink:href="img/sprite.svg#icon-education"></use>
            </svg>                            
            Обучение
        </a>
    </div>
    <div class="header-mobile__item">
        <p class="header-mobile__subtitle text size-24 weight-500 famaly-manrope color-gray-100">Управление профилем</p>
        <div class="header-mobile__links">
            <a href="subscribe.html" class="header-mobile__link">
                <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                    <use xlink:href="img/sprite.svg#icon-fire"></use>
                </svg> 
                Подписка
            </a>
            <a href="personal.html" class="header-mobile__link">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="img/sprite.svg#icon-personal-info"></use>
                </svg>         
                Личные данные
            </a>
            <a href="view-history.html" class="header-mobile__link">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="img/sprite.svg#icon-history"></use>
                </svg>            
                История
            </a>
            <a href="user-recomendation.html" class="header-mobile__link">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="img/sprite.svg#icon-recs"></use>
                </svg>           
                Рекомендации
            </a>
            <a href="purchases.html" class="header-mobile__link">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="img/sprite.svg#icon-wallet"></use>
                </svg>            
                Мои покупки
            </a>
            <a href=" " class="header-mobile__link">
                <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="img/sprite.svg#icon-payment-methods"></use>
                </svg>             
                Методы оплаты
            </a>
            <button class="header-mobile__link" onclick="openModal('logout-modal')">
                <svg class="icon" width="25" height="24" viewBox="0 0 25 24">
                    <use xlink:href="img/sprite.svg#icon-logout"></use>
                </svg>          
                Выход
            </button>
        </div>
    </div>
</div>