<div class="header-mobile">
    <div class="header-mobile__links">
        <button class="header-mobile__link mobile-login-btn">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-user"></use>
            </svg> 
            Авторизоваться
        </button>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-search"></use>
            </svg>                
            Поиск
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-wishlist-fill"></use>
            </svg>             
            Избранное
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-catalog"></use>
            </svg>              
            Каталог
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-recs"></use>
            </svg>             
            Рекомендации
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-movies"></use>
            </svg>             
            Фильмы
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-series"></use>
            </svg>            
            Сериалы
        </a>
        <a href="" class="header-mobile__link">
            <svg class="icon" width="25" height="24" viewBox="0 0 25 24">
                <use xlink:href="img/sprite.svg#icon-education"></use>
            </svg>                            
            Обучение
        </a>
    </div>
</div>