<div class="modal" id="logout-modal">
    <div class="modal__container">
        <div class="logout-modal__content flex direction-column gap-48">
            <div class="logout-modal__title">
                <h2 class="text size-32 weight-500 font-manrope color-gray-100">Выйти?</h2>
                <p class="text size-18 weight-400 font-manrope color-gray-400">Вы уверены, что хотите выйти?</p>
            </div>
            <div class="logout-modal__buttons">
                <button onclick="closeModal('logout-modal')" class="button variant-3">Отмена</button>
                <a href="/" class="button default bg-red-600 color-white">Выйти</a>
            </div>
        </div>
    </div>
</div>