<section class="abaut">
    <div class="abaut__container _container">
        <div class="abaut__img animate__zoomInLeft wow">
            <img src="img/Wreck-It-Ralph-Download-Free-PNG 1.png" alt="">
        </div>
        <div class="abaut__text">
            <div class="abaut__buttons">
                <button class="active animate__rotateInDownLeft wow">For hele familien</button>
                <button class="animate__rotateInDownLeft wow">Smart IPTV</button>
            </div>
            <h2>For hele familien</h2>
            <div class="abaut__info" style="display: block;">
                <p class="animate__lightSpeedInLeft wow">Filmkveld med hele familien? Vår TV pakke inkluderer en filmklubb som oppdateres jevnlig, med filmer for barn og voksne, se hva du vil, når det passer deg. Ved og bruke IPTV boks kan du strømme filmer og serier rett på din TV istendefor og bruke nettbrett når du er ute og reiser. Besøk vårt 
                    <span> IPTV forum </span> for tips og råd.
                </p>
                <p class="animate__lightSpeedInLeft wow">Er det nettopp valgfrihet til å bruke de applikasjoner du selv ønsker er en Android basert Smart IPTV boks per i dag det beste valget. Foruten støtte for både m3u og Middleware har du som nevnt full valgfrihet for oppsett og bruk.</p>
                <p class="animate__lightSpeedInLeft wow">Teknologien har skutt fart og grensene for hva man kan ut av skjermen har flyttet seg markant de siste par årene. Kombinert med lave priser har Android boksen “oppgradert” din TV til en Smart TV. En av fordelene med Android Smart IPTV er at man kan ta den med seg, alt man trenger er internett. Ikke alltid like greit og stue en 55 tommer TV i bilen for en tur på hytta. 
                    <a href=""> Les mer om Smart IPTV her</a>
                </p>
            </div>
            <div class="abaut__info">
                <p class="animate__lightSpeedInLeft wow">Filmkveld med hele familien? Vår TV pakke inkluderer en filmklubb som oppdateres jevnlig, med filmer for barn og voksne, se hva du vil, når det passer deg. Ved og bruke IPTV boks kan du strømme filmer og serier rett på din TV istendefor og bruke nettbrett når du er ute og reiser. Besøk vårt 
                    <span> IPTV forum </span> for tips og råd.
                </p>
                <p class="animate__lightSpeedInLeft wow">Er det nettopp valgfrihet til å bruke de applikasjoner du selv ønsker er en Android basert Smart IPTV boks per i dag det beste valget. Foruten støtte for både m3u og Middleware har du som nevnt full valgfrihet for oppsett og bruk.</p>
                <p class="animate__lightSpeedInLeft wow">Teknologien har skutt fart og grensene for hva man kan ut av skjermen har flyttet seg markant de siste par årene. Kombinert med lave priser har Android boksen “oppgradert” din TV til en Smart TV. En av fordelene med Android Smart IPTV er at man kan ta den med seg, alt man trenger er internett. Ikke alltid like greit og stue en 55 tommer TV i bilen for en tur på hytta. 
                    <a href=""> Les mer om Smart IPTV her</a>
                </p>
            </div>
            <a href="" class="books-link animate__rotateInDownLeft wow">IPTV BOKS</a>
        </div>
    </div>
</section>