<div class="about">
    <div class="about__container container">
        <div class="about__content bg-gray-800">
            <p class="text color-white family-monrope size-16 weight-500">RED HEAD SOUND -  Только лучшие фильмы и сериалы онлайн</p>
            <p class="text color-white family-monrope size-16 weight-500">Как десять лет назад смерть товарища превратила Мстителей в легендарную команду, потеря прокатной лицензии объединила профессиональных актеров дубляжа, режиссеров, звукорежиссеров и переводчиков, которые на протяжении долгих лет работали над тем, что вы так любите. Мы поняли, что будущее киновселенных для российского зрителя сейчас зависит полностью от нас и не хотим, чтоб вы потеряли голоса любимых персонажей!</p>
            <p class="text color-white family-monrope size-16 weight-500">Мы работали для вас, дублируя, монтируя и добиваясь совершенства, чтоб в кинотеатре вы могли прикоснуться к чуду волшебного мира кино. И мы продолжим делать своё дело, теперь — с доставкой на дом;) Ведь это для нас — дело чести и труд, которым мы гордимся по праву!</p>
            <p class="text color-white family-monrope size-16 weight-500">Мир меняется каждый день, и мы здесь для того, чтобы у нашего зрителя была возможность и дальше смотреть его любимые сериалы с качественным переводом и в безупречном дубляже. Если для этого нужно раскрыть черный парус и поднять пиратский флаг — что ж... Настало время смелых решений! Все на борт, мы готовы к вызовам завтрашнего дня!) Red Head Sound - озвучка для тех, кто не согласен на меньшее.</p>
            <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                <use xlink:href="img/sprite.svg#icon-fire"></use>
            </svg> 
        </div>
    </div>
</div>