<div class="home-generes">
    <div class="home-generes__container container">
        <div class="home-generes__content grid column-4">
            <div class="genere-item">
    <div class="genere-item__images">
        <img src="img/center.png" alt="">
        <img src="img/movie2.png" alt="">
        <img src="img/movie3.png" alt="">
    </div>
    <div class="genere-item__content bg-gray-800">
        <h4><a href="" class="text size-32 weight-700 font-manrope color-beige-500">Фэнтези</a></h4>
        <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
            <use xlink:href="img/sprite.svg#icon-fire"></use>
        </svg> 
    </div>
</div>
            <div class="genere-item">
    <div class="genere-item__images">
        <img src="img/center.png" alt="">
        <img src="img/movie2.png" alt="">
        <img src="img/movie3.png" alt="">
    </div>
    <div class="genere-item__content bg-gray-800">
        <h4><a href="" class="text size-32 weight-700 font-manrope color-beige-500">Дорамы</a></h4>
        <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
            <use xlink:href="img/sprite.svg#icon-fire"></use>
        </svg> 
    </div>
</div>
            <div class="genere-item">
    <div class="genere-item__images">
        <img src="img/center.png" alt="">
        <img src="img/movie2.png" alt="">
        <img src="img/movie3.png" alt="">
    </div>
    <div class="genere-item__content bg-gray-800">
        <h4><a href="" class="text size-32 weight-700 font-manrope color-beige-500">Комедии</a></h4>
        <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
            <use xlink:href="img/sprite.svg#icon-fire"></use>
        </svg> 
    </div>
</div>
            <div class="genere-item">
    <div class="genere-item__images">
        <img src="img/center.png" alt="">
        <img src="img/movie2.png" alt="">
        <img src="img/movie3.png" alt="">
    </div>
    <div class="genere-item__content bg-gray-800">
        <h4><a href="" class="text size-32 weight-700 font-manrope color-beige-500">Вестерны</a></h4>
        <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
            <use xlink:href="img/sprite.svg#icon-fire"></use>
        </svg> 
    </div>
</div>
            <div class="genere-item">
    <div class="genere-item__images">
        <img src="img/center.png" alt="">
        <img src="img/movie2.png" alt="">
        <img src="img/movie3.png" alt="">
    </div>
    <div class="genere-item__content bg-gray-800">
        <h4><a href="" class="text size-32 weight-700 font-manrope color-beige-500">Боевики</a></h4>
        <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
            <use xlink:href="img/sprite.svg#icon-fire"></use>
        </svg> 
    </div>
</div>
            <div class="genere-item">
    <div class="genere-item__images">
        <img src="img/center.png" alt="">
        <img src="img/movie2.png" alt="">
        <img src="img/movie3.png" alt="">
    </div>
    <div class="genere-item__content bg-gray-800">
        <h4><a href="" class="text size-32 weight-700 font-manrope color-beige-500">Ужасы</a></h4>
        <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
            <use xlink:href="img/sprite.svg#icon-fire"></use>
        </svg> 
    </div>
</div>
            <div class="genere-item">
    <div class="genere-item__images">
        <img src="img/center.png" alt="">
        <img src="img/movie2.png" alt="">
        <img src="img/movie3.png" alt="">
    </div>
    <div class="genere-item__content bg-gray-800">
        <h4><a href="" class="text size-32 weight-700 font-manrope color-beige-500">Триллеры</a></h4>
        <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
            <use xlink:href="img/sprite.svg#icon-fire"></use>
        </svg> 
    </div>
</div>
            <div class="genere-item">
    <div class="genere-item__images">
        <img src="img/center.png" alt="">
        <img src="img/movie2.png" alt="">
        <img src="img/movie3.png" alt="">
    </div>
    <div class="genere-item__content bg-gray-800">
        <h4><a href="" class="text size-32 weight-700 font-manrope color-beige-500">Мультфильмы</a></h4>
        <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
            <use xlink:href="img/sprite.svg#icon-fire"></use>
        </svg> 
    </div>
</div>
        </div>
        <div class="home-generes__tags flex wrap gap-20">
            <a href="" class="button variant-3">Фильмы</a>
            <a href="" class="button variant-3">Сериалы</a>
            <a href="" class="button variant-3">Мультфильмы</a>
            <a href="" class="button variant-3">Историческое кино</a>
            <a href="" class="button variant-3">Историческое кино</a>
            <a href="" class="button variant-3">Историческое кино</a>
            <a href="" class="button variant-3">Дорамы</a>
            <a href="" class="button variant-3">Спорт</a>
            <a href="" class="button variant-3">Природа</a>
            <a href="" class="button variant-3">Природа</a>
            <a href="" class="button variant-3">Природа</a>
            <a href="" class="button variant-3">Природа</a>
            <a href="" class="button variant-3">Природа</a>
            <a href="" class="button variant-3">Природа</a>
            <a href="" class="button variant-3">Природа</a>
        </div>
    </div>
</div>