<section class="blog">
    <div class="blog__container _container">
        <div class="blog__title">
            <h2 class="animate__lightSpeedInLeft wow">IPTV Blogg</h2>
        </div>
        <div class="blog__grid">
            <div class="blog__item animate__zoomInDown wow">
                <div class="blog__item-img">
                    <img src="img/Rectangle 6.png" alt="">
                </div>
                <div class="blog__item-text">
                    <h4>Apple TV</h4>
                    <p>Apple TV er en populær boks du finner i mange hjem og stuer rundt i Norge, det og velge den Smart IPTV spilleren som er best for deg, det er en smakssak. Her finner du seks spillere du kan teste og vurdere for bruk på Apple TV boksen</p>
                    <a href="">
                        read more
                        <svg width="24" height="10" viewBox="0 0 24 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 4.4C0.668629 4.4 0.4 4.66863 0.4 5C0.4 5.33137 0.668629 5.6 1 5.6L1 4.4ZM23.4243 5.42427C23.6586 5.18995 23.6586 4.81005 23.4243 4.57574L19.6059 0.757361C19.3716 0.523046 18.9917 0.523046 18.7574 0.757361C18.523 0.991675 18.523 1.37157 18.7574 1.60589L22.1515 5L18.7574 8.39411C18.523 8.62843 18.523 9.00833 18.7574 9.24264C18.9917 9.47696 19.3716 9.47696 19.6059 9.24264L23.4243 5.42427ZM1 5.6L23 5.6L23 4.4L1 4.4L1 5.6Z" fill="white"/>
                        </svg>                                    
                    </a>
                </div>
            </div>
            <div class="blog__item animate__zoomInDown wow">
                <div class="blog__item-img">
                    <img src="img/Rectangle 6 (1).png" alt="">
                </div>
                <div class="blog__item-text">
                    <h4>Hva er IPTV</h4>
                    <p>Hva er IPTVInternet Protocol Television (IPTV) bruker din internettforbindelse for live stream TV-programmer. Bare koble IPTV-boksen til Internett og HDMI-kabelen til TV-en din, så er du klar for en verden av underholdning.</p>
                    <a href="">
                        read more
                        <svg width="24" height="10" viewBox="0 0 24 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 4.4C0.668629 4.4 0.4 4.66863 0.4 5C0.4 5.33137 0.668629 5.6 1 5.6L1 4.4ZM23.4243 5.42427C23.6586 5.18995 23.6586 4.81005 23.4243 4.57574L19.6059 0.757361C19.3716 0.523046 18.9917 0.523046 18.7574 0.757361C18.523 0.991675 18.523 1.37157 18.7574 1.60589L22.1515 5L18.7574 8.39411C18.523 8.62843 18.523 9.00833 18.7574 9.24264C18.9917 9.47696 19.3716 9.47696 19.6059 9.24264L23.4243 5.42427ZM1 5.6L23 5.6L23 4.4L1 4.4L1 5.6Z" fill="white"/>
                        </svg>                                    
                    </a>
                </div>
            </div>
            <div class="blog__item animate__zoomInDown wow">
                <div class="blog__item-img">
                    <img src="img/Rectangle 6 (2).png" alt="">
                </div>
                <div class="blog__item-text">
                    <h4>Smart IPTV</h4>
                    <p>Smart IPTV fra Infomir har vært den ledende leverandøren for IPTV bokser og løsninger i over ti år med sin Ministra TV plattform. Deres MAG bokser er per i dag verdens mest solgte TV boks for smart IPTV playlist.</p>
                    <a href="">
                        read more
                        <svg width="24" height="10" viewBox="0 0 24 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 4.4C0.668629 4.4 0.4 4.66863 0.4 5C0.4 5.33137 0.668629 5.6 1 5.6L1 4.4ZM23.4243 5.42427C23.6586 5.18995 23.6586 4.81005 23.4243 4.57574L19.6059 0.757361C19.3716 0.523046 18.9917 0.523046 18.7574 0.757361C18.523 0.991675 18.523 1.37157 18.7574 1.60589L22.1515 5L18.7574 8.39411C18.523 8.62843 18.523 9.00833 18.7574 9.24264C18.9917 9.47696 19.3716 9.47696 19.6059 9.24264L23.4243 5.42427ZM1 5.6L23 5.6L23 4.4L1 4.4L1 5.6Z" fill="white"/>
                        </svg>                                    
                    </a>
                </div>
            </div>
            <div class="blog__item animate__zoomInDown wow">
                <div class="blog__item-img">
                    <img src="img/Rectangle 6 (3).png" alt="">
                </div>
                <div class="blog__item-text">
                    <h4>Smart IPTV Apper</h4>
                    <p>Noen gang gått inn i en butikk for å kjøpe en TV og følte deg forvirret med alle de forskjellige produktene som er tilgjengelige? Det er smarteTV-er, vanlige LED-TVer, LCD-varianter. Mye og velge mellom.</p>
                    <a href="">
                        read more
                        <svg width="24" height="10" viewBox="0 0 24 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 4.4C0.668629 4.4 0.4 4.66863 0.4 5C0.4 5.33137 0.668629 5.6 1 5.6L1 4.4ZM23.4243 5.42427C23.6586 5.18995 23.6586 4.81005 23.4243 4.57574L19.6059 0.757361C19.3716 0.523046 18.9917 0.523046 18.7574 0.757361C18.523 0.991675 18.523 1.37157 18.7574 1.60589L22.1515 5L18.7574 8.39411C18.523 8.62843 18.523 9.00833 18.7574 9.24264C18.9917 9.47696 19.3716 9.47696 19.6059 9.24264L23.4243 5.42427ZM1 5.6L23 5.6L23 4.4L1 4.4L1 5.6Z" fill="white"/>
                        </svg>                                    
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>