<section class="bestill">
    <div class="bestill__container _container">
        <div class="bestill__title">
            <span class="animate__lightSpeedInLeft wow">Den orginale iptv norge</span>
            <h1 class="animate__lightSpeedInLeft wow">bestill iPTV</h1>
            <p class="animate__lightSpeedInLeft wow">Ved bestilling via nettsider er det kun Bitcoin som kan brukes.Ta kontakt via chat for mer informasjon og annen betalingsopsjoner. Betalingslenken åpner seg i eget vindu.</p>
        </div>
        <div class="tarifs">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide animate__flipInY wow">
                <div class="animate-bg"></div>
                <div class="tarifs-item">
                    <span class="mounth">1 Mnd</span>
                    <p class="price-mounth">€25 per mnd</p>
                    <p class="price">
                        <span>€</span>25
                    </p>
                    <a href="" class="buy-btn">betal</a>
                </div>
            </div>
            <div class="swiper-slide animate__flipInY wow">
                <div class="animate-bg"></div>
                <div class="tarifs-item">
                    <span class="mounth">3 Mnd</span>
                    <p class="price-mounth">€20 per mnd</p>
                    <p class="price">
                        <span>€</span>60
                    </p>
                    <a href="" class="buy-btn">betal</a>
                </div>
            </div>
            <div class="swiper-slide animate__flipInY wow">
                <div class="animate-bg"></div>
                <div class="tarifs-item">
                    <span class="mounth">6 Mnd</span>
                    <p class="price-mounth">€15 per mnd</p>
                    <p class="price">
                        <span>€</span>90
                    </p>
                    <a href="" class="buy-btn">betal</a>
                </div>
            </div>
            <div class="swiper-slide animate__flipInY wow">
                <div class="animate-bg"></div>
                <div class="tarifs-item">
                    <span class="profitable">Lønnsom</span>
                    <span class="mounth">12 Mnd</span>
                    <p class="price-mounth">€11.66 per mnd</p>
                    <p class="price">
                        <span>€</span>140
                    </p>
                    <a href="" class="buy-btn">betal</a>
                </div>
            </div>
        </div>
    </div>
    <p>Ved bestilling via nettsider er det kun Bitcoin som kan brukes.Ta kontakt via chat for mer informasjon og annen betalingsopsjoner. Betalingslenken åpner seg i eget vindu</p>
</div>
    </div>
</section>