<div class="modal confirmation-modal" id="remove-wishlist-modal">
    <div class="modal__container">
        <button class="button variant-3 only-icon close-btn" onclick="setTab('auth-modal-tab', '1')">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-close"></use>
            </svg> 
        </button>
        <div class="confirmation-modal__content flex justify-between align-center direction-column gap-36">
            <h2 class="text size-32 weight-700 famaly-manrope color-white">
                Вы уверены, что хотите удалить из избранного?
            </h2>
            <div class="confirmation-modal__actions flex align-center gap-20">
                <button class="button variant-3" onclick="closeModal('remove-wishlist-modal')">Нет</button>
                <button class="button default bg-red-600 text color-white" onclick="closeModal('remove-wishlist-modal')">Да</button>
            </div>
        </div>
    </div>
</div>