<div class="tv-success-payment-modal modal" id="success-payment-modal">
    <div class="modal__container">
        <div class="tv-success-payment-modal__body flex direction-column gap-80">
            <div class="success-payment-modal__top flex direction-column gap-60">
                <div class="flex align-center gap-40">
                    <h2 class="text color-white weight-600 famaly-manrope size-36">Успешно</h2>
                </div>
                <div class="description-text">
                    <span class="text color-gray-100 weight-500 famaly-manrope size-28">Спасибо за вашу поддержку! Желаем вам в полной мере насладиться нашим сервисом и качественным контентом.</span>
                    <span class="text color-gray-100 weight-500 famaly-manrope size-28">
                        Команда <span class="color-beige-500">REDHEADSOUND</span>
                    </span>
                </div>
            </div>
            <div class="success-payment-modal__content flex direction-column gap-40">
                <button class="button default bg-red-600 text size-32 color-white weight-600" onclick="closeModal('success-payment-modal')">Продолжить</button>
            </div>
        </div>
    </div>
</div>