<section class="sport">
    <div class="sport__container _container">
        <div class="sport__title">
            <h2 class="animate__lightSpeedInLeft wow">Alt av Sport</h2>
            <div class="sport__title-flex">
                <div class="sport__title-item">
                    <p class="animate__lightSpeedInLeft wow">IPTV er ett godt alternativ for deg som er ute og reiser. Mange land tilbyr såkalte free-view kanaler. Du trenger bare internett, velger du oss som Smart IPTV Leverandør får du tilgang til kanaler som viser fotball fra hele verden.</p>
                    <p class="animate__lightSpeedInLeft wow">Det er jo ganske morsomt og se samme sending med andre lands kommentatorer av og til. Du har ikke sett fotball på TV før du har sett den med kommentatorer fra Latin Amerika.</p>
                </div>
                <div class="sport__title-item">
                    <p class="animate__lightSpeedInLeft wow">Når du får tilgang til sportskanaler fra hele verden finner du alltids den kampen du søker etter, det er jo ikke alle sportsbegivenheter og kamper som er tilgjengelig på Norsk TV. Spesielt ifra lavere ligaer og lignende.</p>
                    <p class="animate__lightSpeedInLeft wow">Velger du oss som din leverandør kan du følge med dine favorittlag hvorsomhelst i verden.</p>
                </div>
            </div>
        </div>
        <div class="sport__grid">
            <div class="sport__item animate__zoomInDown wow">
                <div class="sport__item-img">
                    <img src="img/Group (1).png" alt="">
                </div>
                <div class="sport__item-text">
                    <img src="img/Group (1).png" alt="">
                    <p>Premier League, ofte kalt English Premier League eller EPL, spilles de fleste kampene lørdag og søndag ettermiddag. Se alle kamper med IPTV Norge</p>
                </div>
            </div>
            <div class="sport__item animate__zoomInDown wow">
                <div class="sport__item-img">
                    <img src="img/Group (4).png" alt="">
                </div>
                <div class="sport__item-text">
                    <img src="img/Group (4).png" alt="">
                    <p>Premier League, ofte kalt English Premier League eller EPL, spilles de fleste kampene lørdag og søndag ettermiddag. Se alle kamper med IPTV Norge</p>
                </div>
            </div>
            <div class="sport__item animate__zoomInDown wow">
                <div class="sport__item-img">
                    <img src="img/Group (2).png" alt="">
                </div>
                <div class="sport__item-text">
                    <img src="img/Group (2).png" alt="">
                    <p>Premier League, ofte kalt English Premier League eller EPL, spilles de fleste kampene lørdag og søndag ettermiddag. Se alle kamper med IPTV Norge</p>
                </div>
            </div>
            <div class="sport__item animate__zoomInDown wow">
                <div class="sport__item-img">
                    <img src="img/Vector.png" alt="">
                </div>
                <div class="sport__item-text">
                    <img src="img/Vector.png" alt="">
                    <p>Premier League, ofte kalt English Premier League eller EPL, spilles de fleste kampene lørdag og søndag ettermiddag. Se alle kamper med IPTV Norge</p>
                </div>
            </div>
            <div class="sport__item animate__zoomInDown wow">
                <div class="sport__item-img">
                    <img src="img/g2601.png" alt="">
                </div>
                <div class="sport__item-text">
                    <img src="img/g2601.png" alt="">
                    <p>Premier League, ofte kalt English Premier League eller EPL, spilles de fleste kampene lørdag og søndag ettermiddag. Se alle kamper med IPTV Norge</p>
                </div>
            </div>
            <div class="sport__item animate__zoomInDown wow">
                <div class="sport__item-img">
                    <img src="img/Mask group (5).png" alt="">
                </div>
                <div class="sport__item-text">
                    <img src="img/Mask group (5).png" alt="">
                    <p>Premier League, ofte kalt English Premier League eller EPL, spilles de fleste kampene lørdag og søndag ettermiddag. Se alle kamper med IPTV Norge</p>
                </div>
            </div>
            <div class="sport__item animate__zoomInDown wow">
                <div class="sport__item-img">
                    <img src="img/Group (3).png" alt="">
                </div>
                <div class="sport__item-text">
                    <img src="img/Group (3).png" alt="">
                    <p>Premier League, ofte kalt English Premier League eller EPL, spilles de fleste kampene lørdag og søndag ettermiddag. Se alle kamper med IPTV Norge</p>
                </div>
            </div>
            <div class="sport__item animate__zoomInDown wow">
                <div class="sport__item-img">
                    <img src="img/Page-1.png" alt="">
                </div>
                <div class="sport__item-text">
                    <img src="img/Page-1.png" alt="">
                    <p>Premier League, ofte kalt English Premier League eller EPL, spilles de fleste kampene lørdag og søndag ettermiddag. Se alle kamper med IPTV Norge</p>
                </div>
            </div>
        </div>
    </div>
</section>