<section class="main">
    <div class="main__container container">
        <div class="main__swiper">
            <button class="button only-icon variant-3 slide-prev">
                <svg class="icon" width="40" height="40" viewBox="0 0 40 40">
                    <use xlink:href="img/sprite.svg#icon-slide-prev"></use>
                </svg> 
            </button>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.4</span>
        <span class="tag bg-red-600 size-20 weight-500 famaly-manrope color-white">Новинка</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">Ходячие мертвецы: 99 сезон</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie2.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-green-400 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie3.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-violet-500 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie4.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-electric-blue size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie5.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-orange-dark size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.4</span>
        <span class="tag bg-red-600 size-20 weight-500 famaly-manrope color-white">Новинка</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">Ходячие мертвецы: 99 сезон</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie2.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-green-400 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie3.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-violet-500 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie4.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-electric-blue size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie5.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-orange-dark size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.4</span>
        <span class="tag bg-red-600 size-20 weight-500 famaly-manrope color-white">Новинка</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">Ходячие мертвецы: 99 сезон</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie2.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-green-400 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie3.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-violet-500 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie4.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-electric-blue size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie5.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-orange-dark size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.4</span>
        <span class="tag bg-red-600 size-20 weight-500 famaly-manrope color-white">Новинка</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">Ходячие мертвецы: 99 сезон</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie2.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-green-400 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie3.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-violet-500 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie4.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-electric-blue size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie5.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-orange-dark size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                </div>
            </div>
            <button class="button only-icon variant-3 slide-next">
                <svg class="icon" width="40" height="40" viewBox="0 0 40 40">
                    <use xlink:href="img/sprite.svg#icon-slide-next"></use>
                </svg> 
            </button>
        </div>
        <div class="main__categories flex align-center">
            <button class="button variant-4">Ожидаемые новинки</button>
            <button class="button variant-4">RHS Education</button>
            <button class="button variant-4">Релизы RHS </button>
            <button class="button variant-4">Сериалы </button>
            <button class="button variant-4">Фильмы</button>
            <button class="button variant-4">Мультфильмы</button>
            <button class="button variant-4">Короткометражки</button>
            <button class="button variant-4">Дора</button>
            <button class="button variant-4">Ожидаемые новинки</button>
            <button class="button variant-4">RHS Education</button>
            <button class="button variant-4">Релизы RHS </button>
            <button class="button variant-4">Сериалы </button>
            <button class="button variant-4">Фильмы</button>
            <button class="button variant-4">Мультфильмы</button>
            <button class="button variant-4">Короткометражки</button>
            <button class="button variant-4">Дора</button>
        </div>
    </div>
</section>