<section class="main tv-main">
    <div class="main__container container">
        <div class="main__swiper">
            <button class="button only-icon variant-3 slide-prev">
                <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_3124_42470)">
                    <path d="M72 96L44.441 66.3636C41.1863 62.8636 41.1863 57.1364 44.441 53.6364L72 24" stroke="#FEC382" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_3124_42470" x="24" y="6" width="66" height="108" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="8"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3124_42470"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3124_42470" result="shape"/>
                    </filter>
                    </defs>
                </svg>                    
            </button>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.4</span>
        <span class="tag bg-red-600 size-20 weight-500 famaly-manrope color-white">Новинка</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">Ходячие мертвецы: 99 сезон</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie2.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-green-400 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie3.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-violet-500 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie4.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-electric-blue size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie5.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-orange-dark size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.4</span>
        <span class="tag bg-red-600 size-20 weight-500 famaly-manrope color-white">Новинка</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">Ходячие мертвецы: 99 сезон</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie2.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-green-400 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie3.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-violet-500 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie4.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-electric-blue size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie5.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-orange-dark size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.4</span>
        <span class="tag bg-red-600 size-20 weight-500 famaly-manrope color-white">Новинка</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">Ходячие мертвецы: 99 сезон</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie2.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-green-400 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie3.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-violet-500 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie4.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-electric-blue size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie5.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-orange-dark size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.4</span>
        <span class="tag bg-red-600 size-20 weight-500 famaly-manrope color-white">Новинка</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">Ходячие мертвецы: 99 сезон</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie2.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-green-400 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie3.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-violet-500 size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie4.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-electric-blue size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                    <div class="swiper-slide"><div class="move-item in-main">
    <a href="movie-detail.html" class="all-link"></a>
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/movie5.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-green-500">8.5</span>
        <span class="tag bg-orange-dark size-20 weight-500 famaly-manrope color-white">Action</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
    </div>
</div></div>
                </div>
            </div>
            <button class="button only-icon variant-3 slide-next">
                <svg width="120" height="120" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_3124_42472)">
                    <path d="M48 96L75.559 66.3636C78.8137 62.8636 78.8137 57.1364 75.559 53.6364L48 24" stroke="#FEC382" stroke-width="4" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" shape-rendering="crispEdges"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_3124_42472" x="30" y="6" width="66" height="108" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="8"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3124_42472"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3124_42472" result="shape"/>
                    </filter>
                    </defs>
                </svg>                    
            </button>
        </div>
    </div>
</section>