<section class="turn">
    <div class="turn_cont">
        <div class="radial">
            <h2 class="radial__title">Turn your passion into profit</h2>
            <div class="radial__sphere">
            </div>
            <div class="radial__line radial__line_dashed"></div>
            <div class="radial__line radial__line_linear"></div>
            <div class="radial__line radial__line_crop"></div>
            <div class="radial__line radial__line_crop-small"></div>
        </div>
    </div>
</section>