<section class="features" id="features">
    <div class="features_cont">
        <div class="features_item">
            <div class="features_item_box">
                <div class="features_item_text animate__ animate__fadeInLeft animated wow">
                    <h3>Shared Revenue</h3>
                    <p>You earn for your creation. The revenue share smart contract (RSC) proves the beauty of new economics. If you contribute to a project then that role is agreed in the contract and a fair split of the revenue is tracked on the blockchain.</p>
                    <a data-tf-popup="FhT0ZD2S" data-tf-size="100">JOIN WAITLIST</a>
                </div>
                <div class="features_item_img animate__ animate__fadeInRight animated wow"><img src="img/Frame125.png" alt=""></div>
            </div>
        </div>
        <div class="features_item features_item-right">
            <div class="features_item_box">
                <div class="features_item_img animate__ animate__fadeInLeft animated wow"><img src="img/Group 39.png " alt=""></div>
                <div class="features_item_text animate__ animate__fadeInRight animated wow">
                    <h3>Connection with Audience</h3>
                    <p>There will be no more centralized middlemen from now on. Go and share your work directly with the audience. This platform will allow you to bypass publishers and provide you with more creativity and flexibility than ever before.</p>
                    <a data-tf-popup="FhT0ZD2S" data-tf-size="100">JOIN WAITLIST</a>
                </div>
            </div>
        </div>
        <div class="features_item">
            <div class="features_item_box">
                <div class="features_item_text animate__ animate__fadeInLeft animated wow">
                    <h3>Promotion by Readers</h3>
                    <p>Readers can now support you more directly with our revenue share contract. Based on how your readers will engage with you story</p>
                    <a data-tf-popup="FhT0ZD2S" data-tf-size="100">JOIN WAITLIST</a>
                </div>
                <div class="features_item_img animate__ animate__fadeInRight animated wow"><img src="img/Group 40.png" alt=""></div>
            </div>
        </div>
    </div>
</section>