<section class="support">
    <div class="support__container container">
        <div class="support__title">
            <h1 class="text size-32 weight-500 font-manrope color-gray-100">
                Техподдержка
            </h1>
        </div>
        <div class="support__content">
            <div class="support__item">
                <h3 class="text size-20 weight-500 font-manrope color-gray-100">
                    Если у вас возникает ошибка "<span class="color-red-500">500</span>"
                </h3>
                <p class="text size-18 weight-500 font-monrope color-white bg-gray-800 support__item-feedback">
                    Вам необходимо отключить ВПН, если вы в СНГ, или включить ВПН с точкой выхода в СНГ\РФ.
                </p>
            </div>
            <div class="support__item">
                <h3 class="text size-20 weight-500 font-manrope color-gray-100">
                    Если у Вас возникает ошибка "<span class="color-red-500">Видео запрещено к просмотру на этом сайте</span>" :
                </h3>
                <p class="text size-18 weight-500 font-monrope color-white bg-gray-800 support__item-feedback">
                    Вам необходимо отключить блокировщик рекламы или добавить наш сайт в исключения, так-же возможно, изменить настройки приватности в браузере.
                </p>
            </div>
            <div class="support__item">
                <h3 class="text size-20 weight-500 font-manrope color-gray-100">
                    Если у вас возникают другие проблемы при просмотре, не загружается сайт, или загружается не очень хорошо - <br>
                    обратитесь пожалуйста по следующим контактам:
                </h3>
                <p class="text size-18 weight-500 font-monrope color-white bg-gray-800 support__item-feedback">
                    Email - <a href="mailto:site_support@redheadsound.studio" class="color-beige-500">site_support@redheadsound.studio</a> <br>
                    Telegram - <a href="https://t.me/mooseyaka" class="color-beige-500">@mooseyaka</a> <br>
                    Канал поддержки в Телеграмм - <a href="https://t.me/rhs_site_support" class="color-beige-500">@rhs_site_support</a>
                </p>
            </div>
        </div>
    </div>
</section>