<section class="login">
    <div class="login__container _container">
        <div class="login__text">
            <h1>Добро пожаловать в ArmBox.TV!</h1>
            <p>Войдите в Личный кабинет, чтобы продлить, изменить или приостановить свою подписку.</p>
            <h4>Впервые на ArmBox.TV?</h4>
            <p class="registrp"><a href="">Зарегистрируйтесь</a>и смотрите</p>
            <ul>
                <li>250+ ТВ каналов в прямом эфире и архиве</li>
                <li>Эксклюзивные премьеры до эфира на ТВ</li>
            </ul>
        </div>
        <div class="login__form">
            <div class="login__title">
                <p>Новый пользователь</p>
                <a href="">Создайте учетную запись</a>
            </div>
            <form>
                <label for="" class="input-text">
                    <input type="text" placeholder="Логин">
                </label>
                <label for="" class="input-text">
                    <input type="password" placeholder="Пароль">
                </label>
                <a href="">Забыли пароль?</a>
                <label for="" class="input-btn">
                    <input type="submit" value="Продолжить">
                </label>
            </form>
        </div>
    </div>
</section>