<section class="movies">
    <div class="movies__container container">
        <div class="section-title">
            <h2 class="text size-32 weight-700 font-manrope color-white">Сериалы</h2>
        </div>
        <div class="movies__tags flex wrap gap-20">
            <button class="movie-genere-btn button variant-3">Фильмы</button>
            <button class="movie-genere-btn button variant-3">Сериалы</button>
            <button class="movie-genere-btn button variant-3">Мультфильмы</button>
            <button class="movie-genere-btn button variant-3">Историческое кино</button>
            <button class="movie-genere-btn button variant-3">Историческое кино</button>
            <button class="movie-genere-btn button variant-3">Историческое кино</button>
            <button class="movie-genere-btn button variant-3">Дорамы</button>
            <button class="movie-genere-btn button variant-3">Спорт</button>
            <button class="movie-genere-btn button variant-3">Природа</button>
            <button class="movie-genere-btn button variant-3">Природа</button>
            <button class="movie-genere-btn button variant-3">Природа</button>
            <button class="movie-genere-btn button variant-3">Природа</button>
            <button class="movie-genere-btn button variant-3">Природа</button>
            <button class="movie-genere-btn button variant-3">Природа</button>
            <button class="movie-genere-btn button variant-3">Природа</button>
        </div>
        <div class="movies__list">
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
            <div class="move-item">
    <a href="movie-detail.html" class="move-item__img">
        <img src="img/center.png" alt="">
        <span class="rating color-white size-20 weight-500 famaly-manrope bg-8.5Bg">8.5</span>
    </a>
    <div class="move-item__content">
        <h4 class="title"><a href="movie-detail.html" class="text color-white size-18 weight-500 famaly-manrope">The Dark Knight</a></h4>
        <div class="flex">
            <div class="flex">
                <a href="" class="text color-gray-300 size-14 weight-400 famaly-manrope">Action</a>
            </div>
            <span class="year text color-gray-300 size-14 weight-400 famaly-manrope">2025</span>
        </div>
    </div>
</div>
        </div>
    </div>
</section>