<section class="works" id="works">
    <div class="works_cont">
        <h2 class="wow animate__ animate__fadeInDown animated">How it works</h2>
        <div class="works_grid">
            <div class="works_item wow animate__ animate__fadeInUp animated">
                <div class="works_item_img">
                    <img src="img/Frame112.png" alt="">
                </div>
                <div class="works_item_text">
                    <p>Submit your literary work
                    </p>
                </div>
            </div>
            <div class="works_arrow">
                <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 14L-1.30507e-06 27.8564L-9.36995e-08 0.143593L24 14Z" fill="#18251D"/>
                </svg>                    
            </div>
            <div class="works_item wow animate__ animate__fadeInUp animated">
                <div class="works_item_img">
                    <img src="img/Frame113.png" alt="">
                </div>
                <div class="works_item_text">
                    <p>Mint in NFT</p>
                </div>
            </div>
            <div class="works_arrow">
                <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 14L-1.30507e-06 27.8564L-9.36995e-08 0.143593L24 14Z" fill="#18251D"/>
                </svg>                    
            </div>
            <div class="works_item wow animate__ animate__fadeInUp animated">
                <div class="works_item_img">
                    <img src="img/Frame114.png" alt="">
                </div>
                <div class="works_item_text">
                    <p>Reach
                        to a broader
                        audience
                        </p>
                </div>
            </div>
            <div class="works_arrow">
                <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M24 14L-1.30507e-06 27.8564L-9.36995e-08 0.143593L24 14Z" fill="#18251D"/>
                </svg>                    
            </div>
            <div class="works_item wow animate__ animate__fadeInUp animated">
                <div class="works_item_img">
                    <img src="img/Frame115.png" alt="">
                </div>
                <div class="works_item_text">
                    <p>Get your revenue shares
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>