<section class="actors-list">
    <div class="actors-list__container container">
        <div class="actors-list__title">
            <h2 class="text color-gray-100 size-24 weight-500">Актеры и создатели</h2>
        </div>
        <div class="actors-list__grid">
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
            <div class="actor-item">
    <a href="actor-detail.html" class="actor-item__img">
        <img src="img/actor.png" alt="">
    </a>
    <div class="actor-item__content">
        <h4><a href="actor-detail.html" class="text color-white famaly-manrope weight-500 size-16">Джонатан <br> Нолан</a></h4>
        <span class="text color-gray-300 famaly-manrope weight-500 size-14">Режиссер</span>
    </div>
</div>
        </div>
    </div>
</section>