<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://wowjs.uk/dist/wow.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.js" integrity="sha512-2RvNyAS83BFsPN236Mx44WiMVtWsTbr13jJ5qKaY6O5yItz8Sd/ajZATa0nhOIjR99p7drlTu3+9tOEXo9qCfQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="js/vendors.min.js"></script>
<script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
<script type="text/javascript" src=' http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js '></script>
<script src="//embed.typeform.com/next/embed.js"></script> 
<script src="js/app.min.js"></script>