<header class="header">
    <div class="header__container container">
        <div class="header__content flex align-end justify-between">
            <div class="header__left flex align-center">
                <a href="#" class="logo">
                    <img src="img/logo.png" alt="logo">
                </a>
                <div class="header__subscribe">
                    <span class="text font-jost size-28 color-gray-400 weight-500">Фильмы и сериалы</span>
                    <div class="flex align-center gap-20">
                        <svg class="icon" width="60" height="56" viewBox="0 0 60 56">
                            <use xlink:href="img/sprite.svg#icon-fire"></use>
                        </svg> 
                        <span class="text size-28 famaly-jost weight-500 color-red-500">RHS Pro</span>
                    </div>
                </div>
            </div>
            <div class="header__right flex align-center justify-end">
                <ul class="menu flex align-center justify-end">
                    <li><a href="" class="text color-gray-400 size-18 font-manrope">Каталог</a></li>
                    <li><a href="" class="text color-gray-400 size-18 font-manrope">Рекомендации</a></li>
                    <li><a href="" class="text color-gray-400 size-18 font-manrope">Обучение</a></li>
                    <li><a href="" class="text color-gray-400 size-18 font-manrope">Фильмы</a></li>
                    <li><a href="" class="text color-gray-400 size-18 font-manrope">Сериалы</a></li>
                </ul>
                <div class="header__right-buttons flex align-center justify-end">
                    <button class="button variant-3 only-icon">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                            <use xlink:href="img/sprite.svg#icon-search"></use>
                        </svg> 
                    </button>
                    <button class="button variant-3 only-icon">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                            <use xlink:href="img/sprite.svg#icon-wishlist"></use>
                        </svg>  
                    </button>
                    <button class="button variant-3 only-icon">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                            <use xlink:href="img/sprite.svg#icon-user"></use>
                        </svg>
                    </button>
                    <button class="button variant-3 only-icon burger-btn">
                        <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                            <use xlink:href="img/sprite.svg#icon-burger"></use>
                        </svg> 
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>