<div class="modal" id="treiler-modal">
    <div class="modal__container">
        <button class="button variant-3 only-icon close-btn">
            <svg class="icon" width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-close"></use>
            </svg> 
        </button>
        <div class="treiler-modal__content flex direction-column gap-48">
            <h2 class="text size-32 weight-500 font-manrope color-gray-100">Тут будет трейлер</h2>
        </div>
    </div>
</div>