<section class="main animate__backInUp wow">
    <div class="main__container _container">
        <div class="main__swiper swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="main__item">
                        <img src="img/Group 2131327088.png" alt="" class="main__item-bg">
                        <div class="main__item-text">
                            <span>Den orginale iptv norge</span>
                            <h2>IPTV Norge</h2>
                            <p>Smart IPTV leverandør</p>
                            <a href="">KJØP NÃ</a>
                        </div>
                        <div class="main__item-img">
                            <img src="img/pngegg.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="main__item">
                        <img src="img/Group 2131327088.png" alt="" class="main__item-bg">
                        <div class="main__item-text">
                            <span>Den orginale iptv norge</span>
                            <h2>IPTV Norge</h2>
                            <p>Smart IPTV leverandør</p>
                            <a href="">KJØP NÃ</a>
                        </div>
                        <div class="main__item-img">
                            <img src="img/pngegg.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="main__item">
                        <img src="img/Group 2131327088.png" alt="" class="main__item-bg">
                        <div class="main__item-text">
                            <span>Den orginale iptv norge</span>
                            <h2>IPTV Norge</h2>
                            <p>Smart IPTV leverandør</p>
                            <a href="">KJØP NÃ</a>
                        </div>
                        <div class="main__item-img">
                            <img src="img/pngegg.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="main__item">
                        <img src="img/Group 2131327088.png" alt="" class="main__item-bg">
                        <div class="main__item-text">
                            <span>Den orginale iptv norge</span>
                            <h2>IPTV Norge</h2>
                            <p>Smart IPTV leverandør</p>
                            <a href="">KJØP NÃ</a>
                        </div>
                        <div class="main__item-img">
                            <img src="img/pngegg.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="main__item">
                        <img src="img/Group 2131327088.png" alt="" class="main__item-bg">
                        <div class="main__item-text">
                            <span>Den orginale iptv norge</span>
                            <h2>IPTV Norge</h2>
                            <p>Smart IPTV leverandør</p>
                            <a href="">KJØP NÃ</a>
                        </div>
                        <div class="main__item-img">
                            <img src="img/pngegg.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="main__item">
                        <img src="img/Group 2131327088.png" alt="" class="main__item-bg">
                        <div class="main__item-text">
                            <span>Den orginale iptv norge</span>
                            <h2>IPTV Norge</h2>
                            <p>Smart IPTV leverandør</p>
                            <a href="">KJØP NÃ</a>
                        </div>
                        <div class="main__item-img">
                            <img src="img/pngegg.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="main__item">
                        <img src="img/Group 2131327088.png" alt="" class="main__item-bg">
                        <div class="main__item-text">
                            <span>Den orginale iptv norge</span>
                            <h2>IPTV Norge</h2>
                            <p>Smart IPTV leverandør</p>
                            <a href="">KJØP NÃ</a>
                        </div>
                        <div class="main__item-img">
                            <img src="img/pngegg.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="main__item">
                        <img src="img/Group 2131327088.png" alt="" class="main__item-bg">
                        <div class="main__item-text">
                            <span>Den orginale iptv norge</span>
                            <h2>IPTV Norge</h2>
                            <p>Smart IPTV leverandør</p>
                            <a href="">KJØP NÃ</a>
                        </div>
                        <div class="main__item-img">
                            <img src="img/pngegg.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>