<div class="personal__top">
    <div class="user">
        <div class="user-icon">
            <svg width="24" height="24" viewBox="0 0 24 24">
                <use xlink:href="img/sprite.svg#icon-user"></use>
            </svg>
        </div>
        <span class="user-name">Gervantriviysky</span>
    </div>
    <div class="back">
        <div class="back-icon">
            <svg width="20" height="20" viewBox="0 0 20 20">
                <use xlink:href="img/sprite.svg#icon-back"></use>
            </svg>
        </div>
        <span class="back-name">Назад</span>
    </div>
</div>